# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual environments
env/
venv/
ENV/
.venv/

# Environment variables
.env

# Django specific
*.log
db.sqlite3
media/
staticfiles/

# VSCode
.vscode/

# macOS
.DS_Store

# PyCharm
.idea/

# Migrations
 **/migrations/*.py
 **/migrations/*.pyc
